extends partials/layout

block content
    main
        #postwrapper.row.padded-top.padded-bottom
            each item, index in posts
                article.post-item 
                    figure 
                        a(href=`/posts/${item.post_slug}` data-post-number=index)
                            img(src=item.post_thumbnail, alt=item.post_title)
                    section
                        div.box-wrap
                            span.cat= item.post_category
                            p= item.date.toLocaleDateString('en-GB')

                        h4= item.post_title
                        
                        a.btn(href=`/posts/${item.post_slug}` data-post-number=index) Read Post
            else
                section.notice-wrapper
                    h1.large-head Whoops, no matches. Sorry.
                    p Maybe try again? Or try writing your own post's, so long as your a citizen in the jungle you can make a post to be approved by the council.
                    .button-warp
                        if(typeof(username) == 'undefined' || typeof(username) == "")
                            a.btn(href="/sign-up", data-flow="sign-up-message", aria-label="Sign Up")
                                span Sign Up
                            a.btn(href="/login", data-flow="login-message-sign", data-has-message-sign="true", aria-label="log in with banstand")
                                span Log in
                        else 
                            a.btn(href="/posts/create", data-notifcation-count="0", aria-label="Settings")
                                span.write Write 
                    

    footer
        include partials/footer